.searcher {
  display: flex;
  flex-direction: row;
  text-align: start;
  .filterSelection {
    b {
      margin-right: 1em;
    }
  }
  input, select {
    margin-right: 1em;
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
  }
  select {
    margin-right: 1em;
  }

  input:active {
    outline: none;
    border: none;
  }
}
