.searcher {
  display: flex;
  input {
    margin-right: 1em;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
  }

  button {
    background-color: rgb(0, 119, 255);
    border: none;
    color: white;
    font-size: 18px;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  button:hover {
    background-color: rgb(0, 50, 143);
    transition: all 0.1s ease-in-out;
  }

  input:active {
    outline: none;
    border: none;
  }
}
